body {
    background-color: rgb(229, 228, 226)
}

.loginwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.logincontainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    min-height: 50vh;
    border-radius: 7px;
    column-gap: 10px;
    border: 1px solid lightgray;
}

.logincontainer h1 {
    margin-top: 50px;
    font-weight: 700;
}

.logincontainer h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: grey;

}

.form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.form {
    input {
        background-color: lightgray;
        width: 500px;
        height: 40px;
        padding: 4px 10px;
        font-size: 18px;
        border-radius: 4px;
        border: 1px solid gray;
        opacity: 0.5;
    }

    label {
        font-size: 20px;
    }

    button {
        font-size: 20px;
        margin: 40px;
        border-radius: 50px;
        background-color: lightgrey;
        width: 200px;
        align-items: center;
        margin-left: 33%;
        color: #000;
        cursor: pointer;
        padding: 15px;
        border: 1px solid gray;
        font-weight: 700;
    }
}

@media screen and (max-width: 425px) {
    .form {
        input {
            width: 270px;
            height: 35px;
            padding: 4px 6px;
            font-size: 14px;
        }

        label {
            font-size: 15px;
        }

        button {
            font-size: 15px;
            margin-bottom: 40px;
            margin-top: 20px;
            width: 100px;
            align-items: center;
            margin-left: 30%;
            padding: 8px;
        }
    }

    .logincontainer {
        width: 90vw;
        column-gap: 7px;
    }
}

@media only screen and (max-width: 824px) and (min-width: 480px) {
    .form {
        input {
            width: 450px;
            height: 30px;
            padding: 4px 10px;
            font-size: 20px;
        }

        label {
            font-size: 20px;
        }

        button {
            font-size: 20px;
            margin-top: 20px;
            width: 140px;
            align-items: center;
            margin-left: 35%;
            cursor: pointer;
            padding: 10px;
        }
    }

    .logincontainer {
        width: 90vw;

    }
}